<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Buy Food Page</h1>
  <form action="">
    
    <table border="1">
      <tr>
        <th>menu</th>
        <th>stock</th>
        <th>harga</th>
        <th>Action</th>
      </tr>
      <% for ( let i = 0; i < menu.length; i++ ) { %> 
        <tr>
          <td> <%= menu[i].name %> </td>
          <td> <%= menu[i].stock %> </td>
          <td> <%= menu[i].harga %> </td>
          <td> 
            <button><a href="/menu/buyFood/<%= menu[i].id %>">add food</a></button> 
            <button><a href="/menu/delete/<%= menu[i].id %> ">remove food</a> </button>
          </td>
        </tr>
      <% } %>
    </table>
  </form>
  <hr>
  
</body>
</html>