<html>
    <%- include('./partials/header.ejs')%>
    <h1>MENU LIST</h1>
    <table border="1px">
        <tr>
            <td>Name</td>
            <td>Stock</td>
            <td>Harga</td>
            <td>Action</td>
        </tr>
        <% for ( let i = 0; i < data.length; i++) {%>
        <tr>
            <td><%= data[i].name %> </td>
            <td><%= data[i].stock %> </td>
            <td><%= data[i].harga %> </td>
            <td>
                <a href="/menu/showcustomer/<%= data[i].id %>"><button>Show customer</button></a>
            </td>
        </tr>
        <% } %> 
    </table>
    <a href="/menu/create"><button>Add menu</button></a>
</html>
